
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Special+Elite&display=swap');

body {
  margin: 5px;
  padding: 0;
  background-color: #D6D5B6;
  font-family: 'Abyssinica SIL', serif;
}

.maincontainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bordertexttop {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: #e9e1f2;
  font-size: 50px;
  font-family: 'Special Elite', display;
  letter-spacing: 30px;
  background: none;
  width: 100%;
  height: 10%
  order: 0;
}

.bordertextbottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #e9e1f2;
  font-size: 50px;
  font-family: 'Special Elite', display;
  letter-spacing: 30px;
  background: none;
  width: 100%;
  height: 10%;
  order: 100;
}

/* .bord1 {
  flex-direction: row;
  justify-content: flex-start;
  writing-mode: vertical-rl;
} */
.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.bord2 {
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  justify-content: flex-start;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  order: 2;
  font-size: 50px;
  font-family: 'Special Elite', display;
  letter-spacing: 30px;
  background: none;
  color: #e9e1f2;

}

.bord3 {
  align-items: flex-end;
  writing-mode: vertical-rl;
  width: 10%;
  height: 100%;
  justify-content: flex-end;
  order: 5;
  font-size: 50px;
  font-family: 'Special Elite', display;
  letter-spacing: 30px;
  background: none;
  color: #e9e1f2;
}

/* .bord4 {
  flex-direction: column;
  align-items: flex-start;
}   */


.centertext {
  justify-content: center;
  align-self: center;
  font-size: 50px;
  color: #1852A4;
  position: absolute;
}

/* learned from https://code-boxx.com/css-circles-text/ */

.maincontent {
  display: flex;
  height: 80%;
  order: 3;
  padding: 7%;
  padding-left: 20%;
  padding-right: 20%;
  flex-shrink: 1;
}

.centercircle {
  box-sizing: border-box;
  background-color: #c1b8cc;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 60vmin;
  width: 60vmin;
  border-radius: 50%;
}


.alltxtpagebuttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  order: 4;
}

.trianglebutton {
  background-color: transparent;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
  transform: rotate(-20deg);

}
.squarebutton {
  background-color: transparent;
  border: none;
  justify-content: flex-start;
  cursor: pointer;
  transform: rotate(5deg);
}

.starbutton {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  transform: rotate(-5deg);
}

.circlebutton {
  background-color: transparent;
  border: none;
  justify-content: flex-end;
  align-self: flex-end;
  cursor: pointer;
  transform: rotate(20deg);
}

.allthetextpages {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 500px;
  background-color: #adcfff;
  padding: 10px;
}

.submissiontext {
  color: #070c94;
  text-align: center;
}
